body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrap {max-width:1100px;margin:0 auto;}
.testpageTitle {
  text-align: center;
    font-size: 18px;
    background: white;
    margin: 0;
    padding: 10px;
    font-weight: normal;
}
.entry-title {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #673AB7;
    background: #f4f1f8;
    font-weight: 600;
}
.testpageOption label {
    display: block;
    color: #444;
    margin-bottom: 4px;
}

.testpageOption {
    padding: 10px 10px 5px;
}

.testpageOption textarea {
    width: 90%;
    height: 70px;
   font-size: 14px;
    font-family: Monaco ,Lucida, Courier,monospace;
}


.testpageOption button {
    background: #ddd;
    border: 1px solid #444;
    padding: 5px 10px;
}

div#result {
    background: #eee;
    padding: 15px;
    margin: 10px;
}

button#runCodeButton {
    background: #673AB7;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #949494;
}